<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>WikiContext</title>
	<meta name="description" content="For Fantastic Four">
	<meta name="author" content="Avinash Bhat">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">	
</head>

<body>
 <div class="container">
    <div class="row">
      <div class="three columns" style="margin-top: 5%">
        <h5>Advanced Search</h5>
      </div>
      <div class="nine columns" style="margin-top: 5%">

        <div class="two columns" style="margin-left: 72%;">
          <button type="button" onclick="window.location.href='{{ url_for( 'search') }}';">New Search</button>
        </div>
      </div>
    </div>
    <div class="twelve column" style="margin-top: 5%">
      <h6 style="margin-left: 7%; color: red;">Advanced Search is prone to ambiguous results. The prerequistes found may or may not be relevant to the subject.</h6>
    </div>
    <div class="row">
      <div class="twelve column" style="margin-top: 5%">

        <h3 id="article_name">{{ article_name }}</h3>
        <p id="article_body" style="white-space: pre-wrap;">{{ article_body }}</p>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>